VITE_BACKEND_URL=http://127.0.0.1:8787
VITE_FEATURE_REDUCED_MOTION=false
VITE_SENTRY_DSN=
VITE_SENTRY_ENV=development
VITE_SENTRY_TRACES_SAMPLE_RATE=0.1
VITE_SENTRY_REPLAYS_SESSION_SAMPLE_RATE=0.1
VITE_SENTRY_REPLAYS_ERROR_SAMPLE_RATE=1.0
